Andrea Nicastro <a.nicastro15@imperial.ac.uk> andrea_nicastro
Emanuele Vespa <e.vespa14@imperial.ac.uk> emanuelev <ev314@ic.ac.uk>
Marija Popović <mpopovic514@gmail.com>
Marija Popović <mpopovic514@gmail.com> Masha <mpopovic@ethz.ch>
Nils Funk <funkn@student.ethz.ch> NilsFunk <32297855+NilsFunk@users.noreply.github.com>
Nils Funk <funkn@student.ethz.ch> Unknown <funkn@student.ethz.ch>
Yiduo Wang <ywang@oxfordrobotics.institute> YiduoWang47 <ywang@oxfordrobotics.institute>
