Andrea Nicastro <a.nicastro15@imperial.ac.uk> andrea_nicastro
Emanuele Vespa <e.vespa14@imperial.ac.uk> emanuelev <ev314@ic.ac.uk>
Marija Popović <m.popovic@imperial.ac.uk> <mpopovic514@gmail.com>
Marija Popović <m.popovic@imperial.ac.uk> <mpopovic@ethz.ch>
Nils Funk <nils.funk13@imperial.ac.uk> <32297855+NilsFunk@users.noreply.github.com>
Nils Funk <nils.funk13@imperial.ac.uk> <funkn@student.ethz.ch>
Sotiris Papatheodorou <s.papatheodorou18@imperial.ac.uk> <sotirisp@protonmail.com>
Stefan Leutenegger <s.leutenegger@imperial.ac.uk> <stefan@slamcore.com>
Yiduo Wang <ywang@oxfordrobotics.institute> YiduoWang47 <ywang@oxfordrobotics.institute>
